.topbar{
    width: 100%;
    height: 70px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 20;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.topbarLeft{
    display: flex;
    align-items: center;
}


.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbarRight{
    height: 100%;
    display: flex;
    align-items: center;

}

/* ICON SETTINGS AND IMG START */

.topbarIcons{position: relative; margin: 0 20px 0 20px;}

.topIconBadge{position: absolute; top: -15px; right: -20px; background-color: red; width: 25px; height: 25px; border-radius: 100%; display: flex; justify-content: center; color: white;}

.topbarRight img{width: 50px; height: 50px; border-radius: 100%; margin-left: 20px; margin-right: 10px;}

.topbar img{margin-left: 20px;}


/* ICON SETTINGS AND IMG END */